/****************************************************************
Common styles for all viewports
****************************************************************/
a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #FFC329;
}

hr {
    color: black;
    border-top: 0.08rem solid black;
}

img {
    -moz-box-shadow:    0rem 0rem 0.6rem 0.01rem black;
    -webkit-box-shadow: 0rem 0rem 0.6rem 0.01rem black;
    box-shadow:         0rem 0rem 0.6rem 0.01rem black;
}

html, body {
    color: white;
    font-family: 'Arimo', sans-serif;
}

.yt-frame {
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}
