/****************************************************************
index.html
****************************************************************/

.bannercontent {
    background-image: url('../img/wall.jpg');
    background-size: cover;
    height: 35rem;
    background-position: bottom;
}

.tagline {
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 0rem;
}

.sub-tagline {
    font-size: 1.2rem;
    margin-bottom: 0rem;
}

.link-text {
    font-size: 1rem;
    padding-top: 0.6rem;
}

.mypic-bar {
    height: 10rem;
    -moz-box-shadow:    0rem 0rem 4rem 0.6rem black;
    -webkit-box-shadow: 0rem 0rem 4rem 0.6rem black;
    box-shadow:         0rem 0rem 4rem 0.6rem black;
}

.fap {
    font-size: 2rem;
}


/****************************************************************
sidebar
****************************************************************/

.sided::-webkit-scrollbar {
/*    display: none;*/
}

.special-body {
	overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.bannercontent-bar {
    background-image: url('../img/sidewall.jpg');
    background-size: cover;
    height: 100vh;
    background-position: bottom;
}

.tagline-bar {
    font-size: 1rem;
    font-weight: bold;
}

.sub-tagline-bar {
    font-size: 1.2rem;
}

.centerdiv {
    margin: 0 auto;
}

.link-text-bar {
    font-size: 0rem;
    padding-top: 0.5rem;
}

.faps {
    font-size: 2rem;
}

.mypic-sidebar {
    height: 3rem;
}


/****************************************************************
activities.html
****************************************************************/

.right-content-bar {
    display: block;
    height: 98vh;
    overflow: auto;
}

.inside-right-content-bar {
    height: 98vh;
    overflow: auto;
    padding-left: 0.5rem;
    padding-right: 1rem;
}

.section-head {
    font-size: 2rem;
    margin-top: 2rem;
}

.section-text {
    font-size: 1.3rem;
}

.my-card {
    margin-top: 2rem;
}

.card-head {
    font-size: 1.4rem;
}




